services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    command: ['-jar', 'DynamoDBLocal.jar', '-sharedDb', '-inMemory', '-port', '8000']
    ports:
      - '8000:8000'
    volumes:
      - ddbdata:/home/dynamodblocal/data

  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=s3
      - DEBUG=0
      - AWS_DEFAULT_REGION=us-east-1
      - XRAY_BUCKET_NAME=dms-xray-dev
    ports:
      - '4566:4566'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - localstackdata:/var/lib/localstack
      - ./infra/localstack/init/ready.d:/etc/localstack/init/ready.d

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      NODE_ENV: development
      PORT: 4000

      AWS_REGION: us-east-1
      DYNAMO_ENDPOINT: http://dynamodb-local:8000

      S3_ENDPOINT: http://localstack:4566
      S3_PUBLIC_ENDPOINT: http://localhost:4566

      DDB_TABLE_NAME: dms-dev-table
      XRAY_BUCKET_NAME: dms-xray-dev

      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test

      ACCESS_TOKEN_TTL_SEC: 900
      REFRESH_TOKEN_TTL_SEC: 1209600

      CORS_ORIGIN: http://localhost:3000

      JWT_ACCESS_SECRET: dev-only-access-secret-change-me
      JWT_REFRESH_SECRET: dev-only-refresh-secret-change-me
    ports:
      - '4000:4000'
    depends_on:
      - dynamodb-local
      - localstack

volumes:
  ddbdata:
  localstackdata:
