version: '3.9'

services:
  dynamodb-local:
    image: amazon/dynamodb-local:latest
    command: ['-jar', 'DynamoDBLocal.jar', '-sharedDb', '-inMemory', '-port', '8000']
    ports:
      - '8000:8000'
    healthcheck:
      test: ['CMD-SHELL', 'curl -sf http://localhost:8000 || exit 1']
      interval: 5s
      timeout: 2s
      retries: 10
    volumes:
      - ddbdata:/home/dynamodblocal/data

  localstack:
    image: localstack/localstack:latest
    environment:
      - SERVICES=s3
      - DEBUG=0
      - AWS_DEFAULT_REGION=us-east-1
    ports:
      - '4566:4566'
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'curl -sf http://localhost:4566/_localstack/health | grep ''"initialized": true'' >/dev/null',
        ]
      interval: 10s
      timeout: 5s
      retries: 30
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      - localstackdata:/var/lib/localstack

volumes:
  ddbdata:
  localstackdata:
