name: CI

on:
  pull_request:
    branches: [main, develop]
    paths-ignore:
      - '**/*.md'
      - '**/*.drawio'
  push:
    branches: [main]

concurrency:
  group: ci-${{github.ref}}
  cancel-in-progress: true

jobs:
  build_test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    env:
      NODE_ENV: test
      DDB_TABLE_NAME: dms-dev-table
      AWS_ACCESS_KEY_ID: test
      AWS_SECRET_ACCESS_KEY: test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'
      - name: Cache Turborepo
        uses: actions/cache@v4
        with:
          path: .turbo
          key: turbo-${{runner.os}}-${{hashFiles('**/package-lock.json')}}
          restore-keys: |
            turbo-${{runner.os}} -

      - name: Install dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Typecheck
        run: npm run typecheck

      - name: Build
        run: npm run build

      - name: test
        run: npm run test
